{% extends "base.html" %}
{% block content %}

<section id="podcast">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-md-8">
                <h2>{{ page_title }}</h2>
                <p class="lead">In this section, I'll create a list of some of my favourite podcasts. These change all the time so check back often for new podcasts:</p>
            </div>
        </div>
    </div>
</section>

<section id="podcast1">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-md-8">
                <h2>Podcasts</h2>
                <p class="lead">In this section, I'll create a list of some of my favourite podcasts. These change all the time so check back often for new podcasts:</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}